.background {
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.background .burbuja {
    animation: burbujas 3s linear infinite;
    background-color: #fff;
    border-radius: 50%;
    bottom: -150px;
    position: fixed;
}

.background .burbuja:nth-child(1) {
    animation-duration: 3s;
    animation-delay: 3s;
    height: 80px;
    left: 5%;
    width: 80px;
}

.background .burbuja:nth-child(2) {
    animation-duration: 3s;
    animation-delay: 5s;
    height: 100px;
    left: 35%;
    width: 100px;
}

.background .burbuja:nth-child(3) {
    animation-duration: 1.5s;
    animation-delay: 7s;
    height: 20px;
    left: 15%;
    width: 20px;
}

.background .burbuja:nth-child(4) {
    animation-duration: 6s;
    animation-delay: 3s;
    height: 50px;
    left: 90%;
    width: 50px;
}

.background .burbuja:nth-child(5) {
    animation-duration: 3s;
    animation-delay: 1s;
    height: 70px;
    left: 65%;
    width: 70px;
}

.background .burbuja:nth-child(6) {
    animation-duration: 4s;
    animation-delay: 5s;
    height: 20px;
    left: 50%;
    width: 20px;
}

.background .burbuja:nth-child(7) {
    animation-duration: 4s;
    animation-delay: 5s;
    height: 20px;
    left: 50%;
    width: 20px;
}

.background .burbuja:nth-child(8) {
    animation-duration: 5s;
    animation-delay: 5s;
    height: 100px;
    left: 52%;
    width: 100px;
}

.background .burbuja:nth-child(9) {
    animation-duration: 3s;
    animation-delay: 2s;
    height: 65px;
    left: 51%;
    width: 65px;
}

.background .burbuja:nth-child(10) {
    animation-duration: 3s;
    animation-delay: 4s;
    height: 40px;
    left: 35%;
    width: 40px;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }
    30% {
        transform: translateX(30px);
    }
    50% {
        opacity: .4;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

.background .color {
    position: fixed;
    filter: blur(150px);
}

.background .color:nth-child(1) {
    background-color: #ff359b;
    height: 600px;
    top: -350px;
    width: 600px;
}

.background .color:nth-child(2) {
    background-color: #fffd87;
    bottom: -350px;
    height: 500px;
    left: 100px;
    width: 500px;
}

.background .color:nth-child(3) {
    background-color: #00d2ff;
    bottom: 50px;
    height: 300px;
    right: 100px;
    width: 300px;
}